## pH Mapping

- W. Mutatu
- A. Marungudze
- S. G. Mampengesi

In [2]:
import pandas as pd
data = pd.read_excel("Estates Growers & ZSAES Soil 2024.xls")
data.columns

Index(['Date Received', 'Remarks', 'Lab Ref ', 'Batch', 'SOURCE/OWNER',
       'farm /sec', 'Field #', 'Plot #', 'Rep #', 'Trial #', 'Sampling Date',
       'Depth (cm)', 'Colour', 'Texture', 'Clay (%)', 'Silt (%)', 'Sand (%)',
       'OM (%)', 'pH (CaCl2)', 'EC (uS/cm)', 'P2O5 (ppm)', 'K (ppm)',
       'Ca (ppm)', 'Mg (ppm)', 'Na (ppm)', 'SO4', 'Initial N', 'Incubated N',
       'Paste EC', 'Extract EC', 'Percentage', 'K me/L', 'Ca me/L', 'Mg me/L',
       'Na me/L', 'Cu (ppm)', 'Zn (ppm)', 'Fe (ppm)', 'Mn (ppm)', 'Al (ppm)',
       'TOTAL N', 'TOTAL N.1', 'K (me/L)', 'Ca (me/L)', 'Mg (me/L)',
       'Na (me/L)', '%', 'N(initial)', 'N(incubated)'],
      dtype='object')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6006 entries, 0 to 6005
Data columns (total 49 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date Received  6006 non-null   object
 1   Remarks        3204 non-null   object
 2   Lab Ref        6006 non-null   object
 3   Batch          185 non-null    object
 4   SOURCE/OWNER   5996 non-null   object
 5   farm /sec      5810 non-null   object
 6   Field #        5829 non-null   object
 7   Plot #         1153 non-null   object
 8   Rep #          723 non-null    object
 9   Trial #        805 non-null    object
 10  Sampling Date  5490 non-null   object
 11  Depth (cm)     1875 non-null   object
 12  Colour         2443 non-null   object
 13  Texture        3474 non-null   object
 14  Clay (%)       3474 non-null   object
 15  Silt (%)       3475 non-null   object
 16  Sand (%)       3474 non-null   object
 17  OM (%)         3091 non-null   object
 18  pH (CaCl2)     4988 non-null   float64
 19  EC (uS/cm)     4988 non-null   float64
 20  P2O5 (ppm)     4906 non-null   object
 21  K (ppm)        5019 non-null   object
 22  Ca (ppm)       4753 non-null   float64
 23  Mg (ppm)       4752 non-null   object
 24  Na (ppm)       4834 non-null   float64
 25  SO4            0 non-null      float64
 26  Initial N      1 non-null      object
 27  Incubated N    1 non-null      object
 28  Paste EC       0 non-null      float64
 29  Extract EC     0 non-null      float64
 30  Percentage     0 non-null      float64
 31  K me/L         0 non-null      float64
 32  Ca me/L        0 non-null      float64
 33  Mg me/L        0 non-null      float64
 34  Na me/L        0 non-null      float64
 35  Cu (ppm)       40 non-null     float64
 36  Zn (ppm)       40 non-null     float64
 37  Fe (ppm)       40 non-null     float64
 38  Mn (ppm)       41 non-null     object
 39  Al (ppm)       0 non-null      float64
 40  TOTAL N        0 non-null      float64
 41  TOTAL N.1      0 non-null      float64
 42  K (me/L)       0 non-null      float64
 43  Ca (me/L)      0 non-null      float64
 44  Mg (me/L)      0 non-null      float64
 45  Na (me/L)      0 non-null      float64
 46  %              0 non-null      float64
 47  N(initial)     0 non-null      float64
 48  N(incubated)   0 non-null      float64
dtypes: float64(25), object(24)
memory usage: 2.2+ MB

In [4]:
data = data[['Lab Ref ', 'SOURCE/OWNER', 'farm /sec', 'Field #', 'pH (CaCl2)']]
data['pH (CaCl2)'] = data['pH (CaCl2)'].astype(float)
data.head()

  Lab Ref  SOURCE/OWNER farm /sec Field #  pH (CaCl2)
0     TS01     TRIANGLE         8     843        6.10
1     TS02     TRIANGLE        19    1910        5.86
2     TS03     TRIANGLE        02    0201        6.59
3     TS04     TRIANGLE        25    2518        6.22
4     TS05     TRIANGLE        19    1911        5.47

In [14]:
data['SOURCE/OWNER'].nunique()

310

In [6]:
# categorising the sample as either from Triangle, Hippo Valley, Mkwasine, ZSAES
cats = []
for obs in data['Lab Ref ']:
    if(str(obs).startswith('TS')):
        cats.append('TRI')
    elif(str(obs).startswith('HS')):
        cats.append('HVE')
    elif(str(obs).startswith('MS')):
        cats.append('MKW')
    elif(str(obs).startswith('ZS')):
        cats.append('ZSAES')
    else:
        cats.append('Private')

In [7]:
data['zone'] = cats
data.head()

  Lab Ref  SOURCE/OWNER farm /sec Field #  pH (CaCl2) zone
0     TS01     TRIANGLE         8     843        6.10  TRI
1     TS02     TRIANGLE        19    1910        5.86  TRI
2     TS03     TRIANGLE        02    0201        6.59  TRI
3     TS04     TRIANGLE        25    2518        6.22  TRI
4     TS05     TRIANGLE        19    1911        5.47  TRI

In [8]:
data['zone'].value_counts()

zone
HVE        2589
TRI        1568
ZSAES      1303
MKW         479
Private      67
Name: count, dtype: int64

In [9]:
# checking for null values
data.isnull().sum()

Lab Ref            0
SOURCE/OWNER      10
farm /sec        196
Field #          177
pH (CaCl2)      1018
zone               0
dtype: int64

In [10]:
# dropping null values
data = data.dropna(axis=0)

In [11]:
grouped = data.groupby('zone')['pH (CaCl2)'].agg('mean')

In [12]:
grouped.head()

zone
HVE        6.822175
MKW        6.334256
Private    6.397778
TRI        6.582917
ZSAES      6.218058
Name: pH (CaCl2), dtype: float64

In [13]:
grouped.to_excel('summarised_by_zone.xlsx')

PermissionError: [Errno 13] Permission denied: 'summarised_by_zone.xlsx'

NameError: name 'data' is not defined