## pH Mapping

- W. Mutatu
- A. Marungudze
- S. G. Mampengesi

In [28]:
import pandas as pd
data = pd.read_excel("Estates Growers & ZSAES Soil 2024.xls")
data.columns

Index(['Date Received', 'Remarks', 'Lab Ref ', 'Batch', 'SOURCE/OWNER',
       'farm /sec', 'Field #', 'Plot #', 'Rep #', 'Trial #', 'Sampling Date',
       'Depth (cm)', 'Colour', 'Texture', 'Clay (%)', 'Silt (%)', 'Sand (%)',
       'OM (%)', 'pH (CaCl2)', 'EC (uS/cm)', 'P2O5 (ppm)', 'K (ppm)',
       'Ca (ppm)', 'Mg (ppm)', 'Na (ppm)', 'SO4', 'Initial N', 'Incubated N',
       'Paste EC', 'Extract EC', 'Percentage', 'K me/L', 'Ca me/L', 'Mg me/L',
       'Na me/L', 'Cu (ppm)', 'Zn (ppm)', 'Fe (ppm)', 'Mn (ppm)', 'Al (ppm)',
       'TOTAL N', 'TOTAL N.1', 'K (me/L)', 'Ca (me/L)', 'Mg (me/L)',
       'Na (me/L)', '%', 'N(initial)', 'N(incubated)'],
      dtype='object')

In [29]:
data = data[['Lab Ref ', 'SOURCE/OWNER', 'farm /sec', 'Field #', 'pH (CaCl2)']]
data['pH (CaCl2)'] = data['pH (CaCl2)'].astype(float)
data.head()

  Lab Ref  SOURCE/OWNER farm /sec Field #  pH (CaCl2)
0     TS01     TRIANGLE         8     843        6.10
1     TS02     TRIANGLE        19    1910        5.86
2     TS03     TRIANGLE        02    0201        6.59
3     TS04     TRIANGLE        25    2518        6.22
4     TS05     TRIANGLE        19    1911        5.47

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6006 entries, 0 to 6005
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Lab Ref       6006 non-null   object
 1   SOURCE/OWNER  5996 non-null   object
 2   farm /sec     5810 non-null   object
 3   Field #       5829 non-null   object
 4   pH (CaCl2)    4988 non-null   float64
dtypes: float64(1), object(4)
memory usage: 234.7+ KB

In [31]:
data['SOURCE/OWNER'].nunique()

352

In [32]:
# categorising the sample as either from Triangle, Hippo Valley, Mkwasine, ZSAES
cats = []
for obs in data['Lab Ref ']:
    if(str(obs).startswith('TS')):
        cats.append('TRI')
    elif(str(obs).startswith('HS')):
        cats.append('HVE')
    elif(str(obs).startswith('MS')):
        cats.append('MKW')
    elif(str(obs).startswith('ZS')):
        cats.append('ZSAES')
    else:
        cats.append('Private')

In [33]:
data['zone'] = cats
data.head()

  Lab Ref  SOURCE/OWNER farm /sec Field #  pH (CaCl2) zone
0     TS01     TRIANGLE         8     843        6.10  TRI
1     TS02     TRIANGLE        19    1910        5.86  TRI
2     TS03     TRIANGLE        02    0201        6.59  TRI
3     TS04     TRIANGLE        25    2518        6.22  TRI
4     TS05     TRIANGLE        19    1911        5.47  TRI

In [34]:
data['zone'].value_counts()

zone
HVE        2589
TRI        1568
ZSAES      1303
MKW         479
Private      67
Name: count, dtype: int64

In [35]:
# checking for null values
data.isnull().sum()

Lab Ref            0
SOURCE/OWNER      10
farm /sec        196
Field #          177
pH (CaCl2)      1018
zone               0
dtype: int64

In [36]:
# dropping rows with nulls for pH and farm sect
data = data.dropna(subset=['pH (CaCl2)', 'farm /sec'])

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4853 entries, 0 to 6005
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Lab Ref       4853 non-null   object
 1   SOURCE/OWNER  4850 non-null   object
 2   farm /sec     4853 non-null   object
 3   Field #       4744 non-null   object
 4   pH (CaCl2)    4853 non-null   float64
 5   zone          4853 non-null   object
dtypes: float64(1), object(5)
memory usage: 265.4+ KB

In [38]:
data = data[data['zone'] != 'Private']

In [39]:
grouped = data.groupby('zone')['pH (CaCl2)'].agg('mean')

In [40]:
grouped.head()

zone
HVE      6.824165
MKW      6.337812
TRI      6.584855
ZSAES    6.323579
Name: pH (CaCl2), dtype: float64

In [41]:
grouped.to_excel('summarised_by_zone.xlsx')

In [42]:
# group by area section 
data.head()

  Lab Ref  SOURCE/OWNER farm /sec Field #  pH (CaCl2) zone
0     TS01     TRIANGLE         8     843        6.10  TRI
1     TS02     TRIANGLE        19    1910        5.86  TRI
2     TS03     TRIANGLE        02    0201        6.59  TRI
3     TS04     TRIANGLE        25    2518        6.22  TRI
4     TS05     TRIANGLE        19    1911        5.47  TRI

In [43]:
# to be removed when adding individual farm data
data['farm /sec'] = pd.to_numeric(data['farm /sec'], errors='coerce')

In [44]:
data['zone_1'] = data['zone'] + ' - ' + data['farm /sec'].astype(str)
data.head()

  Lab Ref  SOURCE/OWNER  farm /sec Field #  pH (CaCl2) zone      zone_1
0     TS01     TRIANGLE        8.0     843        6.10  TRI   TRI - 8.0
1     TS02     TRIANGLE       19.0    1910        5.86  TRI  TRI - 19.0
2     TS03     TRIANGLE        2.0    0201        6.59  TRI   TRI - 2.0
3     TS04     TRIANGLE       25.0    2518        6.22  TRI  TRI - 25.0
4     TS05     TRIANGLE       19.0    1911        5.47  TRI  TRI - 19.0

In [45]:
all = data['zone_1'].value_counts()
print(all)

zone_1
HVE - nan      503
MKW - nan      364
ZSAES - nan    352
HVE - 8.0      281
TRI - 52.0     240
              ...
HVE - 13.0       1
HVE - 6.0        1
TRI - 115.0      1
TRI - 5.0        1
HVE - 140.0      1
Name: count, Length: 85, dtype: int64

In [46]:
# grouped_2 = data.groupby('zone_1')['pH (CaCl2)'].agg(['mean', 'min', 'max'])

# # min and max pH values
# min_zone = data.loc[data['pH (CaCl2)'].idxmin(), 'zone_1']
# max_zone = data.loc[data['pH (CaCl2)'].idxmax(), 'zone_1']

# print(grouped_2.head())
# print(f"Zone with minimum pH: {min_zone}")
# print(f"Zone with maximum pH: {max_zone}")

In [47]:
# Group by zone_1 and compute mean, min, and max pH
grouped_2 = data.groupby('zone_1')['pH (CaCl2)'].agg(['mean', 'min', 'max']).reset_index()

# Find the corresponding farm/section for min and max pH in each zone_1
sect_pH_min = data.loc[data.groupby('zone_1')['pH (CaCl2)'].idxmin(), ['zone_1', 'Field #']]
sect_pH_max = data.loc[data.groupby('zone_1')['pH (CaCl2)'].idxmax(), ['zone_1', 'Field #']]

# Rename columns for clarity
sect_pH_min = sect_pH_min.rename(columns={'Field #': 'sect_pH_min'})
sect_pH_max = sect_pH_max.rename(columns={'Field #': 'sect_pH_max'})

# Merge back with grouped data
grouped_2 = grouped_2.merge(sect_pH_min, on='zone_1', how='left')
grouped_2 = grouped_2.merge(sect_pH_max, on='zone_1', how='left')

print(grouped_2)

          zone_1      mean   min   max sect_pH_min sect_pH_max
0     HVE - 10.0  7.906729  6.04  9.28        1005        1016
1     HVE - 11.0  6.202167  5.10  7.75        1160        1116
2     HVE - 12.0  6.566140  5.38  7.60        1229      H1226B
3     HVE - 13.0  7.060000  7.06  7.06        1248        1248
4    HVE - 130.0  6.670000  6.67  6.67      SOIL 1      SOIL 1
..           ...       ...   ...   ...         ...         ...
80     TRI - nan  6.693091  5.19  8.86         410         3B1
81  ZSAES - 10.0  7.651250  7.39  7.85        1010        1010
82   ZSAES - 2.0  6.623333  6.53  6.74         NaN         NaN
83  ZSAES - 23.0  7.893333  7.72  8.14       2339B       2339A
84   ZSAES - nan  6.277472  4.95  7.99          N2         NaN

[85 rows x 6 columns]

In [48]:
grouped_2.to_excel("Grouped 2.xlsx")